.container {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--text {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    width: 4rem;
    margin: auto;
    font-size: xx-large;
}

    .loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: .5s;
        animation-iteration-count: infinite;
    }

@keyframes loading-text {
    0% {
        content: "Loading";
    }

    25% {
        content: "Loading.";
    }

    50% {
        content: "Loading..";
    }

    75% {
        content: "Loading...";
    }
}
